{% extends 'shared/_layout.html' %}
{% load humanize %}

{% block title %}
لیست محصولات
{% endblock %}

{% block content %}
<div class="pages-bnaer text-center">
    <div class="container">
       <span>محصولات</span>
    </div>
 </div>
 <div class="container">
    <div class="row">
       {% for product in products %}
       <div class="col-md-4">
        <div class="blog-content">
           <figure>
              <img src="{{product.image.url}}" class="w-100">
           </figure>
           <h5><i class="fa fa-title"></i>{{product.title}}</h5>
           {% comment %}
           <p>{{product.description}}</p>
           {% endcomment %}
           <ul>
              <li><i class="fa fa-delicious"></i>دسته بندی : {{product.category}}</li>
              <li><i class="fa fa-get-pocket"></i>برند : {{product.brand}}</li>
              <li><i class="fa fa-money"></i>قیمت : {{product.price | intcomma}} تومان</li>
           </ul>
           <a href="{% url 'product_detail' slug=product.slug  %}" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>	
        </div>
     </div>
       {% endfor %}
    </div>
 </div>
{% endblock %}